@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&display=swap');

body {
    padding: 0;
    margin: 0;
    background: #f4f4f4;
}

html,h1,h2,h3,h4,h5,h6,a{
    font-family: "Montserrat";
}

/* Navigation Section */

.navbar {
    background-color: #343a40;
    }

.nav-link , .navbar-brand {
    color: #f4f4f4; 
    cursor: pointer;
    }

.nav-link {
    margin-right: 1em ;
    }

.nav-link:hover {
    background: #f4f4f4;
    color: #f97300; 
    }

.navbar-collapse {
    justify-content: flex-end;
    }

.navbar-toggler {
    background:#fff;
    }

/* End Navigation Section */

/* Header Section */
.header {
    position: relative;
    background-image: url(../public/neural-fibers.jpg);
    background-attachment: fixed;
    background-size: cover;
    background-position: center;
   }

.overlay {
    position: absolute;
    min-height: 100%;
    min-width: 100%;
    left: 0;
    top: 0;
    background: rgba(244, 244, 244, 0.79);
    z-index: 0;
}

.description {
    position: relative;
    top: 10%;
    margin: auto;
    padding: 2em;
    width: 500px;
    height: 500px;
    top: 42px;
    left: 40px;
    
}
.description h1 {
    color:#e85d04;
}
.description p {
    color:#14213d;
    font-size: 25px;
    width: 75%;
    line-height: 1.5;
}
.description button {
 border:1px  solid #F97300;
 background:#F97300;
 color:#fff;
}
/* End Hero Section */

/* About Section */

.about {
    margin: 4em 0;
    padding: 1em;
    position: sticky;
   }
.about h1{
    color:#F97300;
    font-size: 50px;
    margin: 0.5em;
}
.about img{
    height: 100%;
    width: 100%;      
}
.about span{
    display: block;
    color: red;
    font-size: 25px;
    
}
.about .desc{
    padding: 2em;
    border-left: 4px solid #10828C;
}
.about .desc h3{
    color: #10828C;
}
.about .desc p{
    line-height:2;
    color:#888;
}


/* End About Section */

/* Services Section */
.services{
    margin: 4em 0;
    position: relative; 
    padding: 1em;
    background:
}
.services h1{
    color:#F97300;
    font-size: 50px;
    margin: .5em; 
}
.services img{
     height: 15rem;
     width: 100%;
     margin: 1em;
}

.services .overlay .img {
    opacity: 0.5;
}

.maintxt {
    background-image: url(#);
    background-size: cover;
    display: inline-block;
    position: relative;
    text-align: center;
    color:#f8edeb;
}

.services .overlay {
    font-size: 50px;
}

.maintxt .overlay-text{
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
}

.container:hover .text {
    opacity: 1;
}


/* End Services Section */


/* Media Queries */

col-lg-2 // class used for large devices like laptops
col-md-2 // class used for medium devices like tablets
col-sm-2// class used for small devices like mobile phones
// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

/* Medium devices (tablets, 768px and up) */
@media (min-width: 768px) { ... }

/* Large devices (desktops, 992px and up) */
@media (min-width: 992px) { ... }

// Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... }

/* Z-index */ 
$zindex-dropdown:          1000 !default;
$zindex-sticky:            1020 !default;
$zindex-fixed:             1030 !default;
$zindex-modal-backdrop:    1040 !default;
$zindex-modal:             1050 !default;
$zindex-popover:           1060 !default;
$zindex-tooltip:           1070 !default;